In [18]:
 import datetime

### 6. Write a multi line comment with you name, favorite food, and dream job on 3 different lines

In [19]:
print("Hello, my name is Josh. \nMy favorite food is pizza.\nMy dream job is being a park ranger")

Hello, my name is Josh.
My favorite food is pizza.
My dream job is being a park ranger

In [20]:
print('''Hello, my name is Josh
My favroite food is pizza.
My dream job is a park ranger.''')

Hello, my name is Josh
My favroite food is pizza.
My dream job is a park ranger.

### 7. Assign 5 different data types to 5 different variables. at least one datatype must be a string.

In [21]:
mr_float = 30.5
miss_integer = 30
large_animal = 'Elephant'
pizza_sucks =  False
was_born = datetime.datetime(1988,3,21)

testing vars

In [28]:
print(was_born)
print(f'does pizza suck? {pizza_sucks}')
print(f'what is an {large_animal}?')
print(f'I think {mr_float} fell for {miss_integer}. It is not always about what is after the decimal place :)')

1988-03-21 00:00:00
does pizza suck? False
what is an Elephant?
I think 30.5 fell for 30. It is not always about what is after the decimal place :)

#### -Print the length of your string

In [35]:
print(len(large_animal))

8

#### -Print the index value of the 4th character in your string

In [30]:
large_animal[4:5]

'h'

### 8. Create a new variable called savvy, and assign it the string with this phrase "Learning Data Analytics and Python is Awesome!"

In [36]:
savvy= 'Learning Data Analytics and Python is Awesome!'

#### -Return a range of characters that slices the above string from the beginning of "ing" up to before "and"

In [39]:
savvy.index('i')

5

In [40]:
savvy.index('d')

26

In [42]:
savvy[5:27]

'ing Data Analytics and'

In [45]:
print(savvy[5:8], savvy[24:27])

ing and

#### -Replace "Awesome" with "great" in the string

In [56]:
savvy.replace('Awesome', 'grate')

'Learning Data Analytics and Python is grate!'

In [59]:
savvy_great = savvy.replace('Awesome', 'great')

In [60]:
savvy_great

'Learning Data Analytics and Python is great!'

#### -Test and print the savvy string to see it contains "Python"

In [58]:
savvy

'Learning Data Analytics and Python is Awesome!'

In [61]:
savvy_great

'Learning Data Analytics and Python is great!'

### 9. Create and assign 3 more variables called name, age and length using the multi-variable naming method.

#### -Format a new string called 'miniBio' using variables in curly brackets to complete this phrase... "Hi my name is (name), I am (tall) and (so) old today."

In [89]:
name = 'Josh'
tall = '6 feet 7 inches'
so = '35'

miniBio = f'Hi my name is {name} I am {tall} and {so} old today.'

#### -Print miniBio

In [90]:
print(miniBio)

Hi my name is Josh I am 6 feet 7 inches and 35 old today.

#### -Cast and print the age variable to a float

In [93]:
float(so)

35.0