### 1. Create an if statement: if 'age' is greater than or equal to 25, print "Renting a car is more affordable", however if 'age' is less than 25, print "Renting a car is very expensive."

In [5]:
age = 25

if age >= 25:
    print('Renting a car is more affordable.')
elif age <= 25:
    print('Renting a car is expensive.')

Renting a car is more affordable.

### 2. Create and chain an if-else statement: if 'age' is greater than or equal to 25, print "Renting a car is more affordable." If 'age' is less than 25 but greater than or equal to 18, print "Renting a car is very expensive." Finally, if age is less than 18, print "You cannot legally rent a car."

In [16]:
age = 17

if age >= 25:
    print('Renting a car is more affordable.')
elif 18 <= age <= 25:
    print('Renting a car is expensive.')
elif age < 18:
    print("You cannot legally rent a car.")

You cannot legally rent a car.

### 3. Loop over the following string to (1) count all the characters in the string and (2) print out all the vowels -- "The quick brown fox jumps over the lazy dog"

In [139]:
string = "The quick brown fox jumps over the lazy dog"

for char in string:
    if char == ('a'):
        print(char)
    elif char == ('e'):
        print(char)
    elif char == ('i'):
        print(char)
    elif char == ('o'):
        print(char)
    elif char == ('u'):
        print(char)
else:
    print(len(string))

e
u
i
o
o
u
o
e
e
a
o
43

### 4. Write a nested loop that prints out every piece of clothing from the couture list, in every fashionable color from the panettone set: couture = ["trousers", "blouse", "bandana", "cumber band", "blazer", "vest", "french beret", "scarf", "stole"] and panettone = {"cerise", "fuchsia", "aqua", "maple", "auburn", "burnt sienna", "gunmetal blue", "Dark Sapphire"}

In [155]:
couture = ["trousers", "blouse", "bandana", "cumber band", "blazer", "vest", "french beret", "scarf", "stole"] 
panettone = {"cerise", "fuchsia", "aqua", "maple", "auburn", "burnt sienna", "gunmetal blue", "Dark Sapphire"}

for c in couture:
    for p in panettone:
        print(c,p)

trousers burnt sienna
trousers Dark Sapphire
trousers auburn
trousers fuchsia
trousers cerise
trousers aqua
trousers maple
trousers gunmetal blue
blouse burnt sienna
blouse Dark Sapphire
blouse auburn
blouse fuchsia
blouse cerise
blouse aqua
blouse maple
blouse gunmetal blue
bandana burnt sienna
bandana Dark Sapphire
bandana auburn
bandana fuchsia
bandana cerise
bandana aqua
bandana maple
bandana gunmetal blue
cumber band burnt sienna
cumber band Dark Sapphire
cumber band auburn
cumber band fuchsia
cumber band cerise
cumber band aqua
cumber band maple
cumber band gunmetal blue
blazer burnt sienna
blazer Dark Sapphire
blazer auburn
blazer fuchsia
blazer cerise
blazer aqua
blazer maple
blazer gunmetal blue
vest burnt sienna
vest Dark Sapphire
vest auburn
vest fuchsia
vest cerise
vest aqua
vest maple
vest gunmetal blue
french beret burnt sienna
french beret Dark Sapphire
french beret auburn
french beret fuchsia
french beret cerise
french beret aqua
french beret maple
french beret gunmetal blue
scarf burnt sienna
scarf Dark Sapphire
scarf auburn
scarf fuchsia
scarf cerise
scarf aqua
scarf maple
scarf gunmetal blue
stole burnt sienna
stole Dark Sapphire
stole auburn
stole fuchsia
stole cerise
stole aqua
stole maple
stole gunmetal blue

### 5. Use range as a loop to calculate the sum of all the numbers from 1 to 100

In [93]:
x = range(0,101)
c = 0


for i in x:
    c+=i
    print(c, end = ' ')
print('')
print('\n',c, end= ' ',  )

0 1 3 6 10 15 21 28 36 45 55 66 78 91 105 120 136 153 171 190 210 231 253 276 300 325 351 378 406 435 465 496 528 561 595 630 666 703 741 780 820 861 903 946 990 1035 1081 1128 1176 1225 1275 1326 1378 1431 1485 1540 1596 1653 1711 1770 1830 1891 1953 2016 2080 2145 2211 2278 2346 2415 2485 2556 2628 2701 2775 2850 2926 3003 3081 3160 3240 3321 3403 3486 3570 3655 3741 3828 3916 4005 4095 4186 4278 4371 4465 4560 4656 4753 4851 4950 5050

 5050

### 6. Print the second item in this fruits list. ["apple", "banana", "cherry"]

In [131]:
fruits6 = ["apple", "banana", "cherry"]

print(fruits6[1])

banana

### 7. Change the value from "apple" to "kiwi", in the fruits list. ["apple", "banana", "cherry]

In [185]:
fruits7 = ["apple", "banana", "cherry"]

fruits7[0] = "kiwi"

print(fruits7)

['kiwi', 'banana', 'cherry']

### 8. Use the append method to add "orange" to the fruits list. ["apple", "banana", "cherry"]

In [33]:
fruits8 = ["apple", "banana", "cherry"]

fruits8.append("orange")
print(fruits8)

['apple', 'banana', 'cherry', 'orange']

### 9. Use the insert method to add "lemon" as the second item in the fruits list. ["apple", "banana", "cherry"]

In [127]:
fruits9 = ["apple", "banana", "cherry"]

fruits9.insert(1, "lemon")

print(fruits9)

['apple', 'lemon', 'banana', 'cherry']

### 10. Use the remove method to remove "banana" from the fruits list. ["apple", "banana", "cherry"]

In [39]:
fruits10 =  ["apple", "banana", "cherry"]

fruits10.remove("banana")

print(fruits10)

['apple', 'cherry']

### 11. Use negative indexing to print the 3rd and 2nd to last items in the list. ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [175]:
fruits11 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

fruits11[-3:-1]

print(fruits11[-3:-1])

['kiwi', 'melon']

### 12. Use a range of indexes to print the third, fourth, and fifth item in the list. ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [173]:
fruits12 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]


print(fruits12[2:5])

['cherry', 'orange', 'kiwi']

### 13. Use the correct syntax to print the number of items in the list. ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [80]:
fruits13 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

len(fruits13)

print(len(fruits13))

7

### 14. Use the correct syntax to sort this list in reverse order ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [104]:
fruits14 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]


fruits14.reverse()

print(fruits14)

#print(fruits14.reverse()) #this prints out None because you're printing the results of the reverse method, kind of cool

['mango', 'melon', 'kiwi', 'orange', 'cherry', 'banana', 'apple']

In [162]:
def myfunc(arg1,arg2):
    arg1 = 2
    arg2 = 4
    print(arg1+arg2)

myfunc('HEY','HEY')

6