In [1]:
 import datetime

### 6. Write a multi line comment with you name, favorite food, and dream job on 3 different lines

In [2]:
'''
My name is Josh.
My favorite food is pizza.
My dream job is being a park ranger.
'''

'\nMy name is Josh.\nMy favorite food is pizza.\nMy dream job is being a park ranger.\n'

### 7. Assign 5 different data types to 5 different variables. at least one datatype must be a string.

In [3]:
mr_float = 30.5
miss_integer = 30
large_animal = 'Elephant'
pizza_sucks =  False
was_born = datetime.datetime(1988,3,21)

testing vars

In [4]:
print(was_born)
print(f'does pizza suck? {pizza_sucks}')
print(f'what is an {large_animal}?')
print(f'I think {mr_float} fell for {miss_integer}. It is not always about what is after the decimal place :)')

1988-03-21 00:00:00
does pizza suck? False
what is an Elephant?
I think 30.5 fell for 30. It is not always about what is after the decimal place :)

#### -Print the length of your string

In [5]:
print(len(large_animal))

8

#### -Print the index value of the 4th character in your string

In [6]:
large_animal[4]

'h'

### 8. Create a new variable called savvy, and assign it the string with this phrase "Learning Data Analytics and Python is Awesome!"

In [7]:
savvy= 'Learning Data Analytics and Python is Awesome!'
print(savvy)

Learning Data Analytics and Python is Awesome!

#### -Return a range of characters that slices the above string from the beginning of "ing" up to before "and"

In [8]:
savvy.index('i')

5

In [9]:
savvy.index('d')

26

In [10]:
savvy[5:27]

'ing Data Analytics and'

In [11]:
print(savvy[5:8], savvy[24:27])

ing and

#### -Replace "Awesome" with "great" in the string

In [12]:
savvy.replace('Awesome', 'grate')

'Learning Data Analytics and Python is grate!'

In [13]:
savvy_great = savvy.replace('Awesome', 'great')

In [14]:
print(savvy.index('Python'))
savvy[28:34]

28

'Python'

#### -Test and print the savvy string to see it contains "Python"

In [15]:
savvy[-5:-2]

'som'

In [16]:
savvy_great

'Learning Data Analytics and Python is great!'

### 9. Create and assign 3 more variables called name, age and length using the multi-variable naming method.

#### -Format a new string called 'miniBio' using variables in curly brackets to complete this phrase... "Hi my name is (name), I am (tall) and (so) old today."

In [17]:
# name, so, tall = 'Josh', 35, '6 feet 7 inches'

name = 'Josh'
tall = '6 feet 7 inches'
so = '35'

miniBio = f'Hi my name is {name} I am {tall} and {so} old today.'

#### -Print miniBio

In [18]:
print(miniBio)

Hi my name is Josh I am 6 feet 7 inches and 35 old today.

#### -Cast and print the age variable to a float

In [19]:
float(so)

35.0

### 10. Create a list of at least 5 elements of mixed data type

In [20]:
list1 = [True, 30.5, 30, 'hey', 'hello']

#### -Replace a part of it with something else

In [21]:
list1[0] = False
print(list1)

[False, 30.5, 30, 'hey', 'hello']

#### -Append or insert several more items to the list

In [22]:
list1 =[False, 30.5, 30, 'hey', 'hello']
list1.append(True)
print(list1)

[False, 30.5, 30, 'hey', 'hello', True]

In [23]:
list1.insert(1, True)
print(list1)

[False, True, 30.5, 30, 'hey', 'hello', True]

#### -Find and print the length of the list

In [24]:
print(len(list1))

7

#### -Slice a sub-section of the 1st list, and save it to a different 2nd list. print list

In [25]:
list2 = list1[0:3]
print(list2)

[False, True, 30.5]

#### -Extend your original list with the 2nd list sliced above

In [26]:
print(list1)
list1.extend(list2)
print(list1)

[False, True, 30.5, 30, 'hey', 'hello', True]
[False, True, 30.5, 30, 'hey', 'hello', True, False, True, 30.5]

#### -Create a new list called "simList" containing at least 5 elements of the same data type, either string, integer, float, or Boolean

In [27]:
simList = [2, 3, 6, 5, 4]

simList.sort()
print(simList)

[2, 3, 4, 5, 6]

In [28]:
simList2 = simList.copy()

list4 = simList2+list2 
print(list4)

[2, 3, 4, 5, 6, False, True, 30.5]

### 11. Create a tuple of about 5 elements

In [4]:
mytup = (4,8,5 ,10,25)

#### -Multiply your tuple by 3 and save it to a new 2nd tuple

In [5]:
mytup2 = mytup*3
print(mytup2)

(4, 8, 5, 10, 25, 4, 8, 5, 10, 25, 4, 8, 5, 10, 25)

#### -Access and print the 12th element from the 2nd tuple

In [6]:
mytup2[11]

8

In [7]:
print(tuple)

<class 'tuple'>

#### -Sort the 2nd tuple and print it

In [8]:
mytup2 = mytup*3
print(mytup2)

print(mytup2)
mytup2_sort = tuple(sorted(mytup2))
print(mytup2_sort)

(4, 8, 5, 10, 25, 4, 8, 5, 10, 25, 4, 8, 5, 10, 25)
(4, 8, 5, 10, 25, 4, 8, 5, 10, 25, 4, 8, 5, 10, 25)
(4, 4, 4, 5, 5, 5, 8, 8, 8, 10, 10, 10, 25, 25, 25)

#### -Copy 4 specific elements from your 2nd tuple to a new 3nd tuple

In [10]:
mytup3 =mytup2[4:8]
print(mytup3)

(25, 4, 8, 5)

#### -Unpack the 3rd tuple into 4 variables and print these variables

In [14]:
(a,c,z,d) = mytup3
print(d,z,c,a)

5 8 4 25

#### -Create a 4th tuple with single item 50 and print this tuple

In [15]:
mytup4 = (50)
print(mytup4)

50

#### -Add the 2nd and 3rd tuple together into a 5th tuple and print the tuple

In [16]:
mytup5 = mytup2+mytup3
print(mytup5)

(4, 8, 5, 10, 25, 4, 8, 5, 10, 25, 4, 8, 5, 10, 25, 25, 4, 8, 5)

### 12.Create a set of about 3 elements

In [22]:
myset = {'string', 'people', 'places'}
print(myset)

{'string', 'places', 'people'}

#### -Add a list of fruits to the above set and print the result

In [25]:
fruits = ['cherry', 'starfruit', 'jackfruit', 'mango']

myset.update(fruits)
print(myset)

{'string', 'jackfruit', 'places', 'people', 'cherry', 'mango', 'starfruit'}

#### -Add a car element to your set

In [27]:
myset.add('volvo')
print(myset)

{'string', 'jackfruit', 'places', 'people', 'cherry', 'mango', 'volvo', 'starfruit'}

#### -Create a 2nd set with a few odd items

In [28]:
myset2 = {'volvo', 'jackfruit', 'teeth', 'teak', 'walnut'}
print(myset2)

{'teak', 'walnut', 'jackfruit', 'volvo', 'teeth'}

#### -Save the union of 1st set and 2nd set to a 3rd set

In [37]:
print(myset)
print(myset2)

{'string', 'jackfruit', 'places', 'people', 'cherry', 'mango', 'volvo', 'starfruit'}
{'teak', 'walnut', 'jackfruit', 'volvo', 'teeth'}

In [36]:
myset3 = myset.union(myset2)
print(myset3)

{'string', 'teak', 'jackfruit', 'places', 'people', 'cherry', 'mango', 'volvo', 'walnut', 'teeth', 'starfruit'}

#### -Pop an element from the 2nd set, and print the remainder of the set

In [38]:
myset2.pop()
print(myset2)

{'walnut', 'jackfruit', 'volvo', 'teeth'}

#### -Clear the 1st set and print the result

In [40]:
myset.clear()
print(myset)

set()

#### -Discard an element, and remove another element from the 3rd set
#### -Print the remainder of the 3rd set

In [45]:
print(myset3)
myset3.discard('mango')
myset3.remove('walnut')
print(myset3)

{'string', 'jackfruit', 'people', 'cherry', 'mango', 'volvo', 'walnut', 'teeth', 'starfruit'}
{'string', 'jackfruit', 'people', 'cherry', 'volvo', 'teeth', 'starfruit'}

Create a dictionary with at least 5 values of different data types
Print out 1 value
Replace any one value in your dictionary with your name
Add your favorite color to the dictionary
Add a list, tuple or set to your dictionary
Print a list of the dictionary keys
Print a list of the dictionary values
Copy your 1st dictionary into a 2nd dictionary
Pop an item from the 2nd dictionary, and print the dictionary
Remove all the elements from the 2nd dictionary and print the result

### 13. Create a dictionary with at least 5 values of different data type
#### -Print out 1 value

In [47]:
webster = {1: 'a', 2:'b', 3:'c', 4:'d',5:'e'}
print(webster[1])

a

#### -Replace any one value in your dictionary with your name

In [50]:
webster.update({1: 'josh'})
print(webster)

{1: 'josh', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

#### -Add your favorite color to the dictionary

In [51]:
webster.update({6: 'blue'})
print(webster)

{1: 'josh', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'blue'}

#### -Add a list, tuple or set to your dictionary

In [54]:
tuppleweb = ('apple', 'mango')
webster.update({7: tuppleweb})
print(webster)

{1: 'josh', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'blue', 7: ('apple', 'mango')}

#### -Print a list of the dictionary keys

In [55]:
webster.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7])

#### -Print a list of the dictionary values

In [56]:
webster.values()

dict_values(['josh', 'b', 'c', 'd', 'e', 'blue', ('apple', 'mango')])

#### -Copy your 1st dictionary into a 2nd dictionary

In [57]:
webstercopy = webster.copy()

#### -Pop an item from the 2nd dictionary, and print the dictionary

In [58]:
webstercopy.pop(3)

'c'

In [59]:
print(webstercopy)

{1: 'josh', 2: 'b', 4: 'd', 5: 'e', 6: 'blue', 7: ('apple', 'mango')}

#### -Remove all the elements from the 2nd dictionary and print the result

In [60]:
webstercopy.clear()
print(webstercopy)

{}